<template name="single_qoll_options">
	<p>
		<button class="button {{get_qoll_resp_class qoll.context}} {{qoll_abbr_class qollType.index qoll.context}} {{is_chk_selected qollType.index  qoll}} smart_devi_color"> 
			{{qoll_type_abbr qollType.index}}
		</button> 
		{{{transform_txt qollType.type qoll.cat}}}
		{{#if is_correct_answer qollType qoll.context}}
			{{#if isAndroid}}
				<button class="button button-balanced" style="float: right;">
		        	{{>ionIcon icon="android-checkmark-circle"}}
		        </button>
	        {{else}}
	        	<button class="button button-balanced" style="float: right;">
		        	{{>ionIcon icon="ios-checkmark-outline"}}
		        </button>
	      	{{/if}}
	      	
	        <!-- {{#if isAndroid}}
	        	{{> ionIcon class='button-balanced' icon='android-checkmark-circle'}}
	      	{{else}}
	        	{{> ionIcon icon='ios-checkmark-outline'}}
	      	{{/if}} -->
		{{/if}}
	</p>
</template>