input.fib { 
    height: 25px; 
    width: 75px; 
    background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: #999999; /**darkred; **/
    outline:0; 
    display: inline-flex;
}

input.fib_write {
    color: #003366;
    font-weight: bolder;
}

input.fib_correct {
}

input.fib_wrong {
}

a {
    text-decoration: none !important;
}

a:link, a:visited {
    /**/
    /**color: rgb(0, 0, 153);**/
    text-decoration: none !important;
}

a:hover, a:active {
    /**/
    /*8color: rgb(0, 96, 255);**/
    text-decoration: none !important;
}


.is-invisible {
    visibility: hidden !important;
    display: none !important;
}

.border-selected {
    border-width: medium !important;
    border-style: solid !important;
    border-color: rgb(190, 180, 183) !important;
    background-color: rgb(144, 77, 140) !important;
}

.respondent-bg {
    background-color: #246BB2;
    /* margin: 5px; */
    font-size: 1.2em;
    padding: 5px;
    color: whitesmoke;
    border-radius: 3px;
}

.respondent-row-style {
    border-color: rgb(218, 215, 215);
    border-top-style: solid;
    border-width: thin;
}

.share_with-bg { 
    background-color: #246BB2;
    color: whitesmoke;
}

.quest_title-bg { 
    background-color: rgb(92, 93, 95);
    color: whitesmoke;
}

.quest-button-store {
    background-color: #5F7790;
    color: whitesmoke;
}

.quest-button-send {
    background-color: rgb(210, 67, 67) !important;
    color: whitesmoke;
}

.signout-text {
    color: whitesmoke !important;
}

.signout-bg {
    background-color: rgb(210, 67, 67) !important;
}

.active-menu-bg {
    background-color: #444444 !important;
}

.button-qollcount {
    background-color: #5A5962 !important;
}

.icon-chevron-right-qoll, .add-for-quest, .remove-for-quest {
    color: rgb(210, 67, 67) !important;
}

.quicker-menu-bg {
    background-color: #668E69 !important;
}

.qoll-card-bg {
    background-color: rgb(252, 250, 249) !important;
}
