<template name="_qollModal">
  {{#ionModal title="Qoll"}} - {{title}}
    <div class="padding">
      Qoll content goes here ... 
      Questionaire-id : {{questionaire_id}}
      Qoll-id : {{qid}}
      Responder-id ::::: {{responder_id}}
      Data :::::: {{data}}

      <!-- {{ resp_qoll1 }}

      {{#each resp_qoll}}
        xxxx 
      	{{> single_qoll q=this }}
      {{/each}} -->

      xxxxxxxxxxxxx

      {{#each resp_qoll}}
        printing qolls here
      {{/each}}

    </div>
  {{/ionModal}}
</template>