<template name='tabsSentQollResult'>
	{{#contentFor "headerButtonLeft"}}
		{{>ionNavBackButton class="button button-clear" text=false}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class="title">Sent Questionnaire: Results</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent class="padding qoll-card-bg"}}

			{{#ionList}}
      			
        		{{#each qollst.stats}}
	        		{{#ionItem class="padding"}}
	        			<h2 class="respondent-bg">{{this.name}} {{submitted_on qollstionnaireSubmittedOn}}</h2>

	        			{{#each this.responses}}
	        				<div class="row responsive-sm respondent-row-style">
			        			<div class="col">
			        				<button class="button button-small" 
			        				data-title="{{this.title}}" 
			        				data-questionaire_id="{{questId}}"
			        				data-qid="{{this.qoll_id}}"
			        				data-responder_id="{{this.email}}"
			        				data-data="{{resp_qoll questId this.qoll_id this.email}}"
			        				data-data1="{{this}}"
			        				data-ion-modal="_qollModal">
			        					{{this.label}}
			        				</button>
			        			</div>
			        			<div class="col col-67"><p>{{this.title}}</p></div>
			        			<div class="col col-20">
				        			<h2>{{this.response}}</h2>
		    					</div>
		    					<div class="col">{{{this.iscorrect}}}</div>
	    					</div>
	        			{{/each}}
		        		<!-- <div class="row">
		        			<div class="col">{{this.name}}</div>
		        			<div class="col col-75">
			        			<h2>{{this.qoll_idx_title}} {{{transform_txt this.title this.cat QollConstants.CONTEXT.READ this.fib}}}</h2>
	    						<p>{{{transform_txt this.qollText this.cat QollConstants.CONTEXT.READ this.fib}}}</p>
	    					</div>
	    					<div class="col">{{get_qoll_result this.qoll_response}}</div>
    					</div> -->
	        		{{/ionItem}}
        		{{/each}}

        	{{/ionList}}

		
			<!-- Result grid to come here {{questId}} -->
	    
	    {{/ionContent}}

	    {{> _ionic_sent_tabs}}

	{{/ionView}}
</template>