<template name="tabsInbox">
  {{#ionView}}
    {{> _ionic_qoll_tabs_header}}

    {{#ionContent class="padding"}}
      {{#ionList}}

        {{#each all_questionaires}}

          {{#ionItem buttonLeft=true iconLeft=true iconRight=true}}

            <!-- img src="https://randomuser.me/api/portraits/thumb/men/27.jpg" -->
            {{> _questionaireSizeButton this.qoll_count}}

            <a href="{{pathFor 'tabs.viewInboxQuest'}}">
              <h2>{{this.title}}</h2>
              <p>
                Recipients: {{this.recips_count}}, Sent: {{this.submitted_on}}
              </p>
              {{> ionIcon icon="chevron-right" class="icon-chevron-right-qoll"}}
            </a>
            
            <!-- a href="{{pathFor 'tabs.viewInboxQuest'}}" class="button button-positive" data-nav-direction="forward">{{> ionIcon icon="chevron-right"}}</a -->

          {{/ionItem}}

        {{/each}}

      {{/ionList}}
    {{/ionContent}}

    {{> _ionic_qoll_tabs}}
    <!-- {{> _ionic_qoll_tabs_footer}} -->
  {{/ionView}}
</template>