<template name="tabsDraftqolls">
  {{#ionView}}
    {{> _ionic_qoll_tabs_header}}

    {{#ionContent class="padding"}}
      {{#ionList}}

        {{#each all_questionaires}}

          {{#ionItem buttonRight=true iconLeft=true iconRight=true}}

            <!-- img src="https://randomuser.me/api/portraits/thumb/men/27.jpg" -->
            <a href="{{pathFor 'viewDraftQuestionnaire'}}">
            <h2>{{this.title}} - {{this._id}}</h2>
            <p>
              Recipients: {{this.recips_count}}, Sent: {{this.submitted_on}}
            </p>
          </a>

            <a class="button quest-button-send" data-nav-direction="forward">{{> ionIcon icon="ios-paperplane"}}</a>

          {{/ionItem}}

        {{/each}}

      {{/ionList}}
    {{/ionContent}}

    {{> _ionic_qoll_tabs}}
    <!-- {{> _ionic_qoll_tabs_footer}} -->
  {{/ionView}}
</template>


<template name="_questionaireSizeButton">
  <button class="button button-dark badge">{{this}}</button>
</template>