<template name="tabsAllqolls">
  {{#ionView}}
    {{> _ionic_qoll_tabs_header}}

    {{#ionContent class="padding"}}
      {{#ionList}}

        {{#each all_qolls}}

          {{#ionItem buttonRight=true iconLeft=true iconRight=true}}

            <!-- img src="https://randomuser.me/api/portraits/thumb/men/27.jpg" -->
            <!-- {{> _qollTypeButton}} -->
            <!-- model=checkboxModel name="pushNotifications" disabled=checkboxDisabled -->
            <a href="{{pathFor 'viewQoll'}}">
              {{#each imgs imageIds}}
                <img src="{{this.url store='thumbs_1'}}" class="qoll-thumbs" style="zoom: 20%;" data-gallery id="{{this._id}}"/>
              {{/each}}
              <h2>{{this.qollTitle}}</h2>
              <p class='quick-content-para'>
                {{this.qollText}}
              </p>
            </a>

            <!-- <button class="button button-positive button-calm add-for-quest" id="qoll{{this._id}}" data-nav-direction="forward">{{> ionIcon icon="plus"}}</button> -->

            <!-- button class="button button-positive button-calm add-for-quest" id="qoll{{this._id}}" data-nav-direction="forward">{{> ionIcon icon="plus"}}</button -->
            {{#if is_selected this._id}}
              <a class="button button-icon icon ion-android-radio-button-on remove-for-quest" id="qoll{{this._id}}"></a>
            {{else}}
              <a class="button button-icon icon ion-android-radio-button-off add-for-quest" id="qoll{{this._id}}"></a>
            {{/if}}
        
          {{/ionItem}}

        {{/each}}

      {{/ionList}}
    {{/ionContent}}

    {{> _ionic_qoll_tabs}}
    <!-- {{> _ionic_qoll_tabs_footer}} -->
  {{/ionView}}
</template>


<template name="_qollTypeButton">
  <button class="button button-dark vote-button">F10</button>
</template>