<template name='quicker'>
	{{#contentFor "headerButtonLeft"}}
		{{> _ionic_quicker_header}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class="title">Quicker Board</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent class="padding qoll-card-bg"}}
			<!-- {{#ionSlideBox}} -->

				<!-- Adding ion sliders -->
				<!-- Slider for Qoll -->
				<!-- {{#ionSlide class="light-bg"}} -->
		    	<!-- {{> _ionic_qoll_header}} -->

	      		{{#ionList}}

	      			{{#each qollst}}

	        			{{> single_qoll q=this}}

					{{/each}}
	      			
	        		<!-- {{#each qollst.qolls}}
	        		

	        			{{> single_qoll q=this questionaire=../qollst.questionaire}}

					{{/each}} -->

	      		{{/ionList}}
			    <!-- {{> _ionic_qoll_tabs_footer}} -->
			    <!-- {{/ionSlide}} -->

			    <!-- Slider for Results -->
			    <!-- {{#ionSlide class="dark-bg"}}
			    	<h3>Slide 2</h3>
			    {{/ionSlide}}
		    {{/ionSlideBox}} -->
	    {{/ionContent}}

	    {{> _ionic_inbox_tabs}}

	{{/ionView}}

</template>